[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/wtwarner/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "lib/pi-pico-adafruit-neopixels"]
	path = lib/pi-pico-adafruit-neopixels
	url = https://github.com/martinkooij/pi-pico-adafruit-neopixels
